header>ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding: 2%;
    background: -moz-linear-gradient(top, rgba(155,221,155,0.76) 1%, rgba(162,232,185,0.76) 24%, rgba(216,240,224,0.76) 69%, rgba(239,243,241,0.48) 88%, rgba(244,244,244,0.48) 92%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(155,221,155,0.76) 1%,rgba(162,232,185,0.76) 24%,rgba(216,240,224,0.76) 69%,rgba(239,243,241,0.48) 88%,rgba(244,244,244,0.48) 92%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(155,221,155,0.76) 1%,rgba(162,232,185,0.76) 24%,rgba(216,240,224,0.76) 69%,rgba(239,243,241,0.48) 88%,rgba(244,244,244,0.48) 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c29bdd9b', endColorstr='#7af4f4f4',GradientType=0 ); /* IE6-9 */
}
header>ul>li{
    float: left;
    margin:2rem;
}