<html>
<head>
    <title>home admin</title>
</head>
<body>
YOLO YOU ARE CONNECTED 
<a href="/admin/account">My account</a>
<a href="/admin/createBlogPost">create blog post</a>

<button class="btn red" id="logout">Log me out</button>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/vendors/jquery.min.js" ></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendors/logout.js" ></script>
</body>
</html>