YOLO YOU ARE CONNECTED TO BACK

<div class="row">
    <a class="col-md-3" href="#account">My account</a>
    <a class="col-md-3" href="#createBlogPost/post_put">create blog post</a>
    <a class="col-md-3" href="#uploadImages">upload Images</a>
</div>

<div class="row ">
    <ul class="list-group col-md-6">
        <li ng-class="whatClassIsIt(current.status)" ng-repeat='current in blogPosts'>
            <a href="#createBlogPost/{{current.id}}">
                <p>{{current.title}}
                    <span class="label label-default label-pill pull-xs-right">{{current.status}}</span>
                </p>

                <span>{{current.summary}}</span>
            </a>
            <span  ng-click="deleteBlogPost(current.id)" class="label label-default label-pill pull-xs-right">delete Post</span>
        </li>
    </ul>
</div>
