<html>
<head>
    <title>index de mon super site</title>
    <script type="text/javascript" src="../vendors/formValidation.js" ></script>
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.js" ></script>
</head>
<body>
<div>#yolo ici on parle on fais des truc :3 aozdjazoijaozjd </div>

<form action="/api/videos" method="post">
<label>url de la video youtube</label>
<input type="url" value="http://" name="videoUrl"/>
<button type="submit" >SUBMIT</button>
</form>
</body>
</html>